/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


/* default values */

:root {

    --color-primary: #1A4B76;
    --color-primary-light: rgba(26, 75, 118, 0.04);
    --color-accent: #cbcbcb;
    --color-accent-light: rgba(243, 243, 243, 0.05);
    --color-primary-text: #212121;
    --color-dark: #b2b2b2;
    --color-light: #eaeaea;
    --color-foreground: white;
    --font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --font-size-small: 8pt;
    --font-size-medium: 10pt;
    --font-size-large: 15pt;
    --font-size-very-large: 24pt;
    --font-weight: 400;
    --font-weight-bold: 700;
    --font-line-height: 1.5;
    --border: 1px solid var(--color-light);
    --border-component: 4px solid var(--color-light);
    --border-duration: 2px solid var(--color-light);
    --border-radius: 15px;
    --padding: 20px;
}

/* adjusted values for printing */

@media print {

    :root {
        --color-light: #777;
        --border-component: 1px solid var(--color-light);
        --border-duration: 0px;
        --color-accent: #b9b9b9;
        -webkit-print-color-adjust: exact /* prevents chrome from adjusting colors for printing */
    }

    .non-print {
        visibility: hidden;
    }
}

/* general */

* {
    box-sizing: border-box;
}

html, body {
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    background: var(--color-dark);
    color: var(--color-primary-text);
    line-height: var(--font-line-height);
    width: 1000px;
    margin: 0 auto;
}

input {
    border: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    color: var(--color-primary);
    background-color: var(--color-foreground);
}

input:focus {
    outline-width: 0;
}

input::selection {
    background-color: var(--color-primary-light);
}


/* react-grid */

.react-grid-item.react-grid-placeholder {
    background: var(--color-primary);
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    user-select: none;
    border: 0;
    border-radius: var(--border-radius);
}

/* transition */

.transition {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.transition-appear {
    opacity: 0;
}

.transition-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.transition-exit {
    opacity: 1;
}

.transition-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}


/* panel */

.panel {
    background: var(--color-foreground);
    border: var(--border-component);
    border-radius: var(--border-radius);
    height: 100%; /* parent is react-grid-item and cannot be flex */
    display: flex;
    flex-direction: column;
    padding: var(--padding);
}

.row {
    margin: 0;
    padding: 0;
    display: flex;
}

.row-middle {
    align-items: center;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-start {
    justify-content: flex-start;
    text-align: left;
}

.col-center {
    justify-content: center;
    text-align: center;
}

.col-end {
    justify-content: flex-end;
    text-align: right;
}


/* icons */

.icon {
    font-family: 'Material Icons', serif;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}


/* calendar */

.calendar {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.calendar .header {
    flex-basis: 3em;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
    align-items: center;
    border-bottom: var(--border);
}

.calendar .header .icon {
    cursor: pointer;
}

.calendar .header .icon:hover {
    transform: scale(1.75);
    color: var(--color-primary);
}

.calendar .header .icon:first-of-type {
    margin-left: 1em;
}

.calendar .header .icon:last-of-type {
    margin-right: 1em;
}

.calendar .days {
    flex-basis: 3em;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
    align-items: center;
    border-bottom: var(--border);
}

.calendar .body {
    flex-grow: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
}

.calendar .body .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* only if position is set the element will serve as a reference point for its absolute children */
    border-right: var(--border);
    background: var(--color-foreground);
}

.calendar .body .row {
    flex-basis: calc(100% / 6);
    border-bottom: var(--border);
}

.calendar .body .row:last-child {
    border-bottom: none;
}

.calendar .body .cell:last-child {
    border-right: none;
}

.calendar .body .cell .number {
    position: absolute;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    line-height: 1;
    top: .5em;
    right: .5em;
    z-index: 1;
}

.calendar .body .cell .duration {
    padding: 1px 6px;
    border-radius: 5px;
    border: var(--border-duration);
    background-color: white;
    color: var(--color-primary);
    z-index: 1;
}

.calendar .body .cell .duration-holiday {
    color: var(--color-accent);
}

.calendar .body .cell .duration-missedday {
    /* not used currently */
}

.calendar .body .cell .background {
    position: absolute;
    width: 100%; /* did not find a way to make an absolute child fill its parent using flexbox only */
    height: 100%;
}

.calendar .body .cell .background-workday {
    background-color: var(--color-primary-light);
}

.calendar .body .cell .background-holiday {
    background-color: var(--color-accent-light);
}

.calendar .body .cell .background-not-in-month {
    /* not used currently */
}

.calendar .body .cell .holiday {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 4px;
    text-align: center;
    color: var(--color-accent);
    overflow: hidden;
    white-space: nowrap;
    font-size: var(--font-size-small);
    text-overflow: ellipsis;
}

.calendar .body .cell .offday {
    color: var(--color-accent);
}

.calendar .body .cell .workday {
    /* not used currently */
}


/* fileupload */

.panel-fileupload {
    padding: 6px 4px 4px; /* correct fileupload internal padding */
}

.fileupload {
    position: relative;
    flex-grow: 1;
}

.filepond--root {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}

.filepond--panel-root {
    border-radius: var(--border-radius);
    background-color: var(--color-foreground);
}

.filepond--item-panel {
    background-color: var(--color-foreground);
    border-top: var(--border);
    border-bottom: var(--border);
    border-radius: 0;
}

.filepond--drop-label label {
    color: var(--color-primary);
    font-size: var(--font-size-medium);
}

.filepond--panel-top::after {
    bottom: 0;
}

.filepond--panel-bottom::before {
    top: 0;
}

.filepond--file {
    color: var(--color-primary-text);
}

.filepond--item > .filepond--panel .filepond--panel-bottom {
    box-shadow: 0 0 0 0;
}

.filepond--file-info .filepond--file-info-main {
    color: var(--color-primary);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.filepond--file-info .filepond--file-info-sub {
    font-size: var(--font-size-small);
    color: var(--color-primary);
    opacity: 1;
}

/* console */

.console {
    flex-grow: 1;
    display: flex;
}

.console .output {
    background-color: var(--color-foreground);
    color: var(--color-primary-text);
    font-weight: var(--font-weight);
    font-size: var(--font-size-small);
    line-height: var(--font-line-height);
    font-family: var(--font-family);
    flex-grow: 1;
    border: 0;
    resize: none;
    overflow-y: scroll;
}


/* datatable */

.datatable {
    display: flex;
    flex-direction: column;
}

.datatable .header {
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    flex-basis: 2em;
    border-bottom: var(--border);
}

.datatable .header .col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    color: var(--color-primary);
}

.datatable .body {
    display: flex;
    flex-direction: column;
}

.datatable .body .row {
    flex-basis: 2em;
    border-bottom: var(--border);
}

.datatable .body .row:last-child {
    border-bottom: none;
}

.datatable .body .row .cell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    border-right: var(--border);
}

.datatable .body .row .total {
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
}

.datatable .body .row .cell:last-child {
    border-right: none;
}


/* placeholder */

.placeholder {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
}

.placeholder .name {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

.placeholder .text {
    font-size: var(--font-size-medium);
}

.placeholder .icon {
    padding: 10px;
    font-size: 30pt;
}


/* heading */

.heading {
    flex-grow: 1;
    display: flex;
}

.heading .text {
    flex-grow: 1;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-very-large);
    text-align: center;
}


/* signature */

.signature {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-medium);
}

.signature .top {
    flex-basis: 0;
    display: flex;
}

.signature .top .text {
    flex-grow: 1;
    font-weight: var(--font-weight-bold);
    text-align: left;
}

.signature .middle {
    flex-grow: 1;
    border-bottom: var(--border);
}

.signature .bottom {
    flex-basis: 0;
    display: flex;
    flex-direction: row;
}

.signature .bottom .date {
    flex-basis: 30%;
}

.signature .bottom .signature {
    flex-basis: 70%;
}