/* FONT IMPORTS */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


/* default values */

:root {

    --color-main: #1a8fff;
    --color-highlight: #ff971b;
    --color-text: #777;
    --color-text-light: #b2b2b2;
    --color-border: #eee;
    --color-background: #f9f9f9;
    --color-foreground: #fff;
    --color-background-dark: var(--color-text-light);
    --font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --font-family-fixed: monospace;
    --font-size-small: 8pt;
    --font-size-medium: 10pt;
    --font-size-large: 15pt;
    --font-weight-bold: 700;
    --font-weight: 300;
    --font-line-height: 1.5;
    --border: 1px solid var(--color-border);
    --border-bold: 4px solid var(--color-border);
    --border-radius: 15px;
    --padding: 20px;
}


/* general */

* {
    box-sizing: border-box;
}

#root {
    display: flex;
}

html, body {
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    background: var(--color-background-dark);
    color: var(--color-text);
    line-height: var(--font-line-height);
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.main {
    border-radius: var(--border-radius);
    background: var(--color-background);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.panel {
    background: var(--color-foreground);
    border: var(--border-bold);
    border-radius: var(--border-radius);
    height: 100%;
    padding: var(--padding);
}

.row {
    margin: 0;
    padding: 0;
    display: flex;
}

.row-middle {
    align-items: center;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-start {
    justify-content: flex-start;
    text-align: left;
}

.col-center {
    justify-content: center;
    text-align: center;
}

.col-end {
    justify-content: flex-end;
    text-align: right;
}


/* icons */

.icon {
    font-family: 'Material Icons', serif;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}


/* calendar */

.calendar {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

.calendar .header {
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
    flex: 0 1 3em;
    align-items: center;
    border-bottom: var(--border);
}

.calendar .header .icon {
    cursor: pointer;
}

.calendar .header .icon:hover {
    transform: scale(1.75);
    color: var(--color-main);
}

.calendar .header .icon:first-of-type {
    margin-left: 1em;
}

.calendar .header .icon:last-of-type {
    margin-right: 1em;
}

.calendar .days {
    flex: 0 1 3em;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    align-items: center;
    border-bottom: var(--border);
}

.calendar .body {
    flex: 1 1 auto;
}

.calendar .body .cell {
    position: relative;
    border-right: var(--border);
    background: var(--color-foreground);
}

.calendar .body .cell:hover {
    background: var(--color-background);
}

.calendar .body .row {
    height: calc(100% / 6);
    border-bottom: var(--border);
}

.calendar .body .row:last-child {
    border-bottom: none;
}

.calendar .body .cell:last-child {
    border-right: none;
}

.calendar .body .cell .number {
    position: absolute;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    line-height: 1;
    top: .5em;
    right: .5em;
}

.calendar .body .cell .duration {
    position: absolute;
    height: 1.5em;
    width: 27px;
    line-height: 1;
    right: 30px;
    padding: 2px;
    text-align: right;
}

.calendar .body .cell .duration-1 {
    top: 15px;
    color: var(--color-main);
    font-weight: var(--font-weight-bold);
    border-bottom: var(--border);
}

.calendar .body .cell .duration-2 {
    top: 32px;
}

.calendar .body .cell .holiday {
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    padding: 4px;
    text-align: center;
    color: var(--color-highlight);
    overflow: hidden;
    white-space: nowrap;
    font-size: var(--font-size-small);
    text-overflow: ellipsis;
}

.calendar .body .cell .highlight {
    color: var(--color-highlight);
}

.calendar .body .col {
    width: calc(100% / 7);
}


/* react-grid */

.react-grid-item.react-grid-placeholder {
    background: var(--color-main);
    opacity: 0.1;
    transition-duration: 100ms;
    z-index: 2;
    user-select: none;
    border-radius: var(--border-radius);
}


/* fileupload */

.panel-fileupload {
    padding: 4px; /* correct fileupload internal padding */
}

.fileupload {
    position: relative;
    width: 100%;
    height: 78px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.filepond--root {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}

.filepond--panel-root {
    border-radius: var(--border-radius);
    background-color: var(--color-foreground);
}

.filepond--item-panel {
    background-color: var(--color-foreground);
    border-top: var(--border);
    border-bottom: var(--border);
    border-radius: 0;
}

.filepond--drop-label label {
    color: var(--color-text-light);
    font-size: var(--font-size-medium);
}

.filepond--panel-top::after {
    bottom: 0;
}

.filepond--panel-bottom::before {
    top: 0;
}

.filepond--file {
    color: var(--color-text);
}

.filepond--item > .filepond--panel .filepond--panel-bottom {
    box-shadow: 0 0 0 0;
}

.filepond--file-info .filepond--file-info-main {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.filepond--file-info .filepond--file-info-sub {
    font-size: var(--font-size-small);
    color: var(--color-text);
    opacity: 1;
}

/* console */

.console {
    height: 100%;
    display: flex;
    justify-content: center;
}

.console .output {
    color: var(--color-text);
    font-weight: var(--font-weight);
    font-size: var(--font-size-small);
    line-height: var(--font-line-height);
    flex: 1 1 auto;
    border: 0;
    resize: none;
    overflow-y: scroll;
}


/* datatable */

.datatable {
}

.datatable .header {
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    height: 3em;
    border-bottom: var(--border);
    align-items: center;
}

.datatable .body .cell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    border-right: var(--border);
}

.datatable .body .total {
}

.datatable .body .row {
    height: 2em;
    border-bottom: var(--border);
}

.datatable .body .row:last-child {
    border-bottom: none;
}

.datatable .body .cell:last-child {
    border-right: none;
}


/* placeholder */

.placeholder {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text-light);
}

.placeholder .name {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

.placeholder .text {
    font-size: var(--font-size-medium);
}

.placeholder .icon {
    padding: 10px;
    font-size: 30pt;
}


/* transition */

.transition-appear {
    opacity: 0.01;
}

.transition-appear.transition-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
